@import "tailwindcss";
/* ROBOTO FONT */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

:root {

    /* Main Colors */
    --primary-color: #6057EE;
    --secundary-color: #4841B3;
    --light-primary-color: #F0EFFE;
    --ligh-secundary-color: #DFDDFC;
    --background-color: #F3F5F7;
    --dark: #212c46;
    --success: #7DCD85;
    --text: #141A29;

    /* Fonts and Typography  */
    --font-family: "Roboto", sans-serif;
    --h1: 32px;
    --h2: 28px;
    --h3: 20px;
    --p: 16px;
    --span: 14px;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 20px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

p {
    font-size: var(--p);
}

span {
    font-size: var(--span);
}

button {
    cursor: pointer;
}